@using Microsoft.AspNet.Identity.Owin;
@{
    var userName = Session["UserName"];
    var userid = Session["UserID"];
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
}
<link rel="stylesheet" type="text/css" href="~/coursat/css/custom.css">

    <header class="header clearfix">
        <div class="container">
            <nav class="yamm navbar navbar-default">
                <div class="navbar-header" style="margin-top:-24px;">             
                    <a class="navbar-brand" href="/Home/Index"><img src="~/coursat/images/edulogo.jpg" style="width: 110px;margin-top:10px;" alt=""></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "AllCourses" ? "active" : "")">@Html.ActionLink("Courses", "AllCourses", "Course")</li>
                        <li class="dropdown megamenu @(ViewContext.RouteData.Values["Action"].ToString() == "Press" ? "active" : "")">
                            <a href="/PressRelease/Press" id="AboutUsId">About Us</a>
                        </li>             
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")"><a href="/Home/Contact">Contact</a></li>
                       
                        <li class="noborder">
                            <div id="dmsearch" class="dmsearch">
                                <form id="search-form" action="#" method="get">
                                    <div class="dm-search-container">
                                        <input id="search" class="dmsearch-input" type="text" value="" placeholder="Search">
                                    </div>
                                    <input id="CourseID" class="dmsearch-submit" type="submit" value="">
                                    <span class="fa fa-search"></span>
                                </form> <!-- end searchform -->
                            </div><!-- end search -->
                        </li>
                        <li class="dropdown megamenu @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")">
                            @if (userName == null)
                            {
                                <a href="/Account/Login">Login</a>
                            }
                            else
                            {
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:28px;">
                                 <span class="user-span">@userName.ToString().Substring(0,1).ToUpper()</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content">
                                            <div class="row-fluid">
                                                <div class="col-md-3 col-sm-6 col-xs-12 firstcolumn">
                                                    <ul class="box">
                                                        <li><label class="lblUserName ">@userName</label></li>
                                                        <li>@Html.RouteLink("LOGOUT", new { action = "LoginOut", controller = "UserRegister" }, new { id = "logoutBtn" })</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                   
                    </ul>
                </div><!--/.nav-collapse -->
            </nav><!-- end nav -->
        </div><!-- end container -->
    </header><!-- end header -->

    <script type="text/javascript">

    var currentCourses = '';
    var cartName = "CourseDetails";
    function ActivateCouponEnterClickEvent(e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            ActivateCoupon();
        }
    }
    $(document).ready(function () {
        
        $(".couponTextChange").change(function () {
            var couponCode = $('#actCoupontxt')[0].value;
            if (couponCode == "") {
                localStorage.CouponCode = null;
            }
        });

        $('#AboutUsId').addClass("sf-with-ul");

        var cartCount = 0;
        var uId = '@userid';
        if ($('#cartItemCount').length > 0) {
            if (cartCount == "Nan") {
                cartCount = 0;
            }
            $('#cartItemCount')[0].innerHTML = "My Cart (" + cartCount + ")";

        }
        if (window.localStorage[cartName] != null || window.localStorage[cartName] != undefined) {
            currentCourses = JSON.parse(window.localStorage[cartName]);
        }
        if ($('#cartItemCount').length > 0) {
            for (var i = 0; i < currentCourses.length; i++) {
                if (currentCourses[i].CourseUserId == uId) {
                    var count = 0;
                    count = currentCourses.length;
                    cartCount = cartCount + 1;
                    if (cartCount == "Nan") {
                        cartCount = 0;
                    }
                    $('#CartCount').val(cartCount);
                    $('#cartItemCount')[0].innerHTML = "My Cart (" + cartCount + ")";
                    $('#Cart').css("display", "block");
                }
            }
        }
    });
    function ActivateCoupon() {
        var couponCode = $('#actCoupontxt')[0].value;
        if (couponCode != "") {
            localStorage.CouponCode = couponCode.trim();
            window.location.href = "/Account/Login";
        }
        else {

            bootbox.dialog({
                message: "Please enter the coupon code",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }
    }
    </script>






