@model Millionlights.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.VerificationId;
    var isSuccess = ViewBag.IsSuccess;
    var ResetPasswordMessage = ViewBag.ResetPasswordMessage;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <style>
        .signupBtn {
            width: 48% !important;
            background: #f9b125 !important;
            font-size: 15px !important;
        }

        .signupBtnLeft {
            margin-left: 1% !important;
        }

        .errorMessage {
            font-size: 12px !important;
            color: red !important;
            float: left !important;
            width: 480px !important;
        }

        .successMessage {
            font-size: 12px !important;
            color: green !important;
            float: left !important;
            width: 480px !important;
        }
    </style>
</head>
<body class="sticky-header">
    <section id="login_bg">
        <div class="container">
            <div class="row" style="margin:20px;">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 loginLogo">
                    <div id="login">
                        @*<p class="text-center">
                            <a href="/UserRegister/UserRegister">
                                <img src="/coursat/images/edulogo.jpg" class="img-responsive" style="padding-left:27%;" />
                            </a>
                        </p>*@
                        <div class="widget-title">
                            <h3>Reset Password</h3>
                        </div>
                            @using (Html.BeginForm("MyResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", onclick = "return ValidateResetPassword();" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(m => m.VerificationId, new { id = "VerificationId" })
                                <div class="form-group marginloginpwdTxt">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", id = "UserName", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger errorMessage" })
                                </div>
                                <div class="form-group marginloginpwdTxt">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ", id = "Password", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger errorMessage" })
                                </div>
                                <div class="form-group marginloginpwdTxt">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", id = "ConfirmPassword", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger errorMessage" })
                                </div>
                                <div id="pass-info" class="clearfix"></div>
                                <label id="lblPwdError" class="colorRed"></label>
                                <label id="lblSuccess" class="colorGreen"></label>
                                <input type="submit" class="button_fullwidth btn btn-block btn-primary" value="Submit" id="Regbtn" />
                                <a href="#" class="button_fullwidth-2 btn btn-block btn-primary" onclick="LoginBtnCLick();">Login</a>

                            }
                        </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var UserId = '';
        $(document).ready(function () {
            UserId = '@userId'
            $('#VerificationId').val(UserId);
            var ResetPassMsg= '@ResetPasswordMessage';
            var message = '@isSuccess'
            if (message != '' && message == 'True') {
                if (ResetPassMsg != '' && ResetPassMsg != null) {
                    $('#lblSuccess')[0].innerHTML = ResetPassMsg;
                    window.setTimeout(function () {
                        window.location.href = "/Account/Login";
                    }, 4000);
                }
            }
            else {
                $('#lblPwdError')[0].innerHTML = ResetPassMsg;
            }

        });
        function LoginBtnCLick() {
            window.location = "/Account/Login";
        }
        function ValidateResetPassword() {
            $('#lblPwdError')[0].innerHTML = "";
            var isValid = true;
            var email = $('#UserName').val().trim();
            var newPass = $('#Password').val().trim();
            var confirmPass = $('#ConfirmPassword').val().trim();
            var emailRegEx = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (email.length == 0 || !emailRegEx.test(email)) {
                $('#lblPwdError')[0].innerHTML = "Please enter valid email address";
                isValid = false;
            }
            else if (newPass.length == 0 || newPass.length < 6) {
                $('#lblPwdError')[0].innerHTML = "Please enter 6 digit new password";
                isValid = false;
            }
            else if (confirmPass.length == 0 || confirmPass.length < 6) {
                $('#lblPwdError')[0].innerHTML = "Please enter 6 digit confirm password";
                isValid = false;
            }
            else if (confirmPass != newPass) {
                $('#lblPwdError')[0].innerHTML = "New password and confirm password doesn't match";
                isValid = false;
            }
            else {
                $('#lblPwdError')[0].innerHTML = "";
            }
            if (isValid == false) {
                return false;
            }
            else {
                return true;
            }
        }
    </script>
</body>
</html>