@model Millionlights.Models.Orders

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            <script src="~/Content/assets/js/jquery.js"></script>
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Edit</h2>
<link href="~/Content/learn/css/color_scheme.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Orders</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OrderID)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderNumber)
                @Html.ValidationMessageFor(model => model.OrderNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalItems, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalItems)
                @Html.ValidationMessageFor(model => model.TotalItems)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalPrice)
                @Html.ValidationMessageFor(model => model.TotalPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddress1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddress1)
                @Html.ValidationMessageFor(model => model.ShippingAddress1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingAddress2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingAddress2)
                @Html.ValidationMessageFor(model => model.ShippingAddress2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCity)
                @Html.ValidationMessageFor(model => model.ShippingCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingState)
                @Html.ValidationMessageFor(model => model.ShippingState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingCountry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingCountry)
                @Html.ValidationMessageFor(model => model.ShippingCountry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShippingZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShippingZipCode)
                @Html.ValidationMessageFor(model => model.ShippingZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress1)
                @Html.ValidationMessageFor(model => model.BillingAddress1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingAddress2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingAddress2)
                @Html.ValidationMessageFor(model => model.BillingAddress2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCity)
                @Html.ValidationMessageFor(model => model.BillingCity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingState, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingState)
                @Html.ValidationMessageFor(model => model.BillingState)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingCountry, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingCountry)
                @Html.ValidationMessageFor(model => model.BillingCountry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillingZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingZipCode)
                @Html.ValidationMessageFor(model => model.BillingZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderStatusID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderStatusID)
                @Html.ValidationMessageFor(model => model.OrderStatusID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderedDatetime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderedDatetime)
                @Html.ValidationMessageFor(model => model.OrderedDatetime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderModifiedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderModifiedOn)
                @Html.ValidationMessageFor(model => model.OrderModifiedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
