@using Microsoft.AspNet.Identity.Owin;
@using System.Linq;
@using System.Collections;
@{
    ViewBag.Title = "Edunetwork";
    var freeCourses = ViewBag.FreeCourses;
    var freeCourseCounterTemp = ViewBag.FreeCoursesCounter;
    var userCount = ViewBag.UserCount;
    var courseCount = ViewBag.CoursesCount;
    var promo = ViewBag.Video;
    var userName = Session["UserName"];
    var userId = Session["UserID"];
    var isRegister = Session["IsRegister"];
    int roleID = 0;
    if (Session["RoleID"] != null)
    {
        roleID = int.Parse(Session["RoleID"].ToString());
    }
    if (roleID != 0)
    {
        if (roleID == 1 || roleID == 3)
        {
            Layout = "~/Views/Shared/_AceLandingLayout.cshtml";
            @*<script src="~/Content/assets/js/jquery.js"></script>*@
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    var logout = ViewBag.IsLogout;
    var freeCount = 0;
}
@{
    var messages = (Dictionary<string, string>)ViewBag.Messages;
}
@section ExtraMetaTags
{
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
}

<!-- RS SLIDER -->
<link rel="stylesheet" type="text/css" href="~/coursat/rs-plugin/css/settings.css" media="screen" />

 <body>
    <div id="loader">
        <div class="loader-container">
            <div class="wow zoomIn" data-wow-duration="1s" data-wow-offset="100">
                <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                    <div class="wow pulse" data-wow-delay="100ms" data-wow-iteration="infinite" data-wow-duration="1s">
                        <img src="/coursat/images/smalllogo.png" alt="" class="loader-site">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="slider-section">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_economy1.jpg" data-saveperformance="off" data-title="Slide">
                       <img src="/coursat/upload/fit_economy1.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_electrical-eng1.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_electrical-eng1.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" >
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_health-eng1.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_health-eng1.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover">
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_human-r.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_human-r.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" >
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_leadership.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_leadership.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover" >
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_struct-eng3.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_struct-eng3.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover">
                    </li>
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="500" data-thumb="/coursat/upload/fit_transport.jpg" data-saveperformance="off" data-title="Slide">
                        <img src="/coursat/upload/fit_transport.jpg" alt="fullslide1" data-bgposition="center top" data-bgfit="cover">
                    </li>

             </ul>
            </div>
        </div>
    </section>

     <section class="section-white service-relative-wrapper background">
         <div class="container">
             <div class="service-relative">
                 <div class="row">
                     <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-style-1">
                             <div class="icon-normal wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                 <i class="icon icon-Book"></i>
                             </div><!-- end icon-wrap -->
                             <div class="title-wrap">
                                 <h5 class="service-title">Learn Anything Online</h5>
                                 <hr>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam, adipiscing vel condimentum tristique.</p>
                             </div><!-- end title-wrap -->
                         </div><!-- end title -->
                     </div><!-- end col -->
                     <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-style-1">
                             <div class="icon-normal wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                 <i class="icon icon-Users"></i>
                             </div><!-- end icon-wrap -->
                             <div class="title-wrap">
                                 <h5 class="service-title">Talk To Our Instructors</h5>
                                 <hr>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam, adipiscing vel condimentum tristique.</p>
                             </div><!-- end title-wrap -->
                         </div><!-- end title -->
                     </div><!-- end col -->
                     <div class="col-md-4 col-sm-6 col-xs-12">
                         <div class="service-style-1">
                             <div class="icon-normal wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                 <i class="icon icon-MessageLeft"></i>
                             </div><!-- end icon-wrap -->
                             <div class="title-wrap">
                                 <h5 class="service-title">Speak With Others</h5>
                                 <hr>
                                 <p>Lorem ipsum dolor sit amet, consectetur adipiing elit. Integer lorem quam, adipiscing vel condimentum tristique.</p>
                             </div><!-- end title-wrap -->
                         </div><!-- end title -->
                     </div><!-- end col -->
                 </div><!-- end row -->
             </div><!-- end background service-absolute -->
         </div><!-- end container -->
     </section><!-- end section-white -->

     <div>   
          <section class="section-grey">
            <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="section-title text-center">
                           <h4>Latest Courses</h4>
                           <hr>
                           <p>Check Out Our Latest Professional Courses</p>
                        </div><!-- end title -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div id="owl-courses" class="section-container">

                 @foreach (var course in freeCourses)
                 {
                    var tempVal = 0;
                    var courseImg = tempVal.ToString();
                    if (freeCourses.Count > 0 && freeCount < 8)
                    {
                           <div class="course-item">
                                            <div class="owl-image" style="border: solid 1px #d8d8d9;">
                                                        <a href="#">
                                                            @if (course.CourseImageLink != null)
                                                            {
                                                                var physicalPath = Request.MapPath("/Images/CourseImg/" + course.Id + "/" + course.CourseImageLink + "");
                                                                if (System.IO.File.Exists(physicalPath))
                                                                {
                                                                    if (course.IsCourseEnrolled != null && course.IsCourseEnrolled == true)
                                                                    {
                                                                        <a id="@course.Id" href="#" onclick="window.open('@course.EDXCourseLink')">
                                                                            <img src="@String.Format("/Images/CourseImg/{0}/{1}", course.Id, course.CourseImageLink)" alt="" style="height:165px;">
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a id="@course.Id" href="" class="imagedetailClass">
                                                                            <img src="@String.Format("/Images/CourseImg/{0}/{1}", course.Id, course.CourseImageLink)" alt="" style="height:165px;">
                                                                        </a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (course.IsCourseEnrolled != null && course.IsCourseEnrolled == true)
                                                                    {
                                                                        <a id="@course.Id" href="#" onclick="window.open('@course.EDXCourseLink')">
                                                                            <img src="@String.Format("/Images/CourseImg/{0}/{1}", course.Id, course.CourseImageLink)" alt="" style="height:165px;">
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a id="@course.Id" href="" class="imagedetailClass">
                                                                            <img src="https://www.millionlights.org/Images/CourseImg/32/iitblogo.jpg" alt="" style="height:165px;">
                                                                        </a>
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (course.IsCourseEnrolled != null && course.IsCourseEnrolled == true)
                                                                {
                                                                    <a id="@course.Id" href="#" onclick="window.open('@course.EDXCourseLink')">
                                                                        <img src="@String.Format("/Images/CourseImg/{0}/{1}", course.Id, course.CourseImageLink)" alt="" style="height:165px;">
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a id="@course.Id" href="" class="imagedetailClass">
                                                                        <img src="https://www.millionlights.org/Images/CourseImg/32/iitblogo.jpg" alt="" style="height:165px;">
                                                                    </a>
                                                                }
                                                            }
                                                        </a>
                                                       

                                                    </div>
                                                       
                                                    <div class="course-desc">
                                                        <div>
                                                            @{
                                                                string courseCatName = course.CategoryName;
                                                                string tempCourseCatName = string.Empty;
                                                                if (courseCatName.Length > 21)
                                                                {
                                                                    tempCourseCatName = courseCatName.Substring(0, 20);
                                                                }
                                                                else
                                                                {
                                                                    tempCourseCatName = courseCatName;
                                                                }
                                                            }
                                                            @if (courseCatName.Length > 21)
                                                            {
                                                                <div class="cat_row">
                                                                    <a href="#" class="meta">
                                                                        @tempCourseCatName<span title="@courseCatName">...</span>
                                                                    </a>
                                                                </div>
                                                                <div class="cat_row">
                                                                    <span class="meta">
                                                                        <i class="fa fa-clock-o" aria-hidden="true"></i> @course.Duration (Days)
                                                                    </span>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="cat_row">
                                                                    <a href="#" class="meta">
                                                                        @tempCourseCatName
                                                                    </a>
                                                                </div>
                                                                <div class="cat_row">
                                                                    <span class="meta">
                                                                        <i class="fa fa-clock-o" aria-hidden="true"></i> @course.Duration (Days)
                                                                    </span>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div id="shortdiv" style="height: 60px;">
                                                            @{
                                                                string courseName = course.CourseName;
                                                                string tempCourseName = string.Empty;
                                                                if (courseName.Length > 32)
                                                                {
                                                                    tempCourseName = courseName.Substring(0, 31);
                                                                }
                                                                else
                                                                {
                                                                    tempCourseName = courseName;
                                                                }
                                                            }
                                                            @if (courseName.Length > 32)
                                                            {
                                                                    <h4>@tempCourseName <span title="@courseName">...</span></h4>

                                                            }
                                                            else
                                                            {
                                                                    <h4>@tempCourseName</h4>
                                                            }
                                                        </div>
                                                        <div class="activateCoupan-shortDesc" style="height: 60px;"><p>@course.ShortDescription</p></div>
                                                        <div class="row" style="background-color: #ffffff; padding:10px 20px;">
                                                            <div class="rating pull-left">
                                                                @{
                                                                    int filled = 5 - course.CourseRatings;
                                                                }

                                                                @for (int i = 0; i < course.CourseRatings; i++)
                                                                {
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                }
                                                                @for (int i = 0; i < filled; i++)
                                                                {
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                }
                                                            </div>
                                                            <div class="price pull-right">
                                                                @if (course.BasePrice == 0)
                                                                {
                                                                    <p class="meta">Free</p>
                                                                }
                                                                else
                                                                {
                                                                    <p class="meta">Rs.@course.BasePrice</p>
                                                                }
                                                            </div>

                                                        </div>
                                                        <div class="info" style="padding-bottom: 5px;">

                                                            @if (course.Availability == "Starting Soon")
                                                            {
                                                                <div class="separator clearfix" style="background-color: seashell;height: 36px;">
                                                                    <p style="font-weight: bold; font-size: 14px;margin-top: 5px;text-align: center;">Starting Soon....</p>
                                                                </div>

                                                                <div class="course-big-meta clearfix">
                                                                    <a class="owl-button detailClass respDetails pull-left" style="text-align: center; padding: 6px 6px !important;" href="" id="@course.Id">
                                                                    Details</a>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="separator clearfix" style="background-color: aliceblue; height: 36px;">
                                                                    <p style="font-weight: bold;font-size: 14px; text-align: center;margin-top: 5px;">Active</p>
                                                                </div>

                                                                <div class="course-big-meta clearfix">
                                                                    @if (course.IsCourseEnrolled != null && course.IsCourseEnrolled == true)
                                                                    {
                                                                        <a class="owl-button enrollClass pull-left" style="text-align: center; padding: 6px 6px !important; background-color: grey; pointer-events: none; cursor: default; " href="" id="@course.Id">
                                                                    Enrolled</a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a class="owl-button enrollClass pull-left" style="text-align: center; padding: 6px 6px !important;" href="" id="@course.Id">
                                                                    Enroll</a>
                                                                    }
                                                                    <a class="owl-button detailClass respDetails pull-right" style="text-align: center; padding: 6px 6px !important;" href="" id="@course.Id">
                                                                    Details</a>
                                                                </div>
                                                            }
                                                        </div><!-- end course-big-meta -->
                                                        </div>
                                                    </div>
                                            freeCount++;
                                            }
                                           }
                                 </div><!-- End row -->
                             </div><!-- End container -->
                         </section>
             </div>
  </body>     
         

         <!-- CSS -->
<div id="fb-root"></div>
         <!-- OTHER JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
<script type="text/javascript">
    var cartName = "CourseDetails";
    var currentCourses = '';
    function getCurrentCartItems() {

        var itemsCart = window.localStorage[cartName];
        if (itemsCart === undefined) {
            return null;
        }

        var currentItems;
        try {
            currentItems = JSON.parse(itemsCart);
        }
        catch (e) {
            currentItems = null;
        }

        return currentItems;
    }

    $(document).ready(function () {

        // Done By Archana 25.11.2016 for Collaspse and Show the Courses according to the Conditions

        var log = '@logout'
        if (log != null && log == "true") {
            var cartName = "CourseDetails";
            window.localStorage.removeItem(cartName);
            localStorage.removeItem('CourseId');
            localStorage.removeItem('value');
            localStorage.clear();
            localStorage.CouponCode = null;
            $.removeCookie("CourseID");
            $.removeCookie("AboutCourseID");
            $.removeCookie("emailList");
            $.removeCookie("smsList");
        }


        //Remove local storage
        var cartName = "CourseDetails";

        if (window.localStorage[cartName] != null || window.localStorage[cartName] != undefined) {
            currentCourses = JSON.parse(window.localStorage[cartName]);
        }
        var data = "";
        var couponCode = null;
        var currentItems = getCurrentCartItems();
        if (currentItems == null || currentItems == "") {
            currentItems = [];
        }
        $('.enrollClass').click(function () {
            localStorage.CouponCode = null;
            var userId = '@userId';

            if (userId == '') {
                window.localStorage.removeItem(cartName);
                currentItems = null;
            }
            //setCookie("CouponCode", "", -1);
            var courseId = $(this)[0].id;
            //setCookie("ace_skin", "", -1);
            //setCookie("CourseID", courseId, 1);
            $.cookie("CourseID", courseId);
             var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent().parent()).find('.course-desc h4')[0].innerHTML,
                CourseDescription: $($(this).parent().parent().parent().parent()).find('.course-desc p')[0].innerHTML,
                CoursePrice: $($(this).parent().parent().parent().parent()).find('.course-desc .price p')[0].innerHTML,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {

                // courseContents=JSON.stringify(courseContents);
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }

            localStorage.CourseId = courseId;

            if (userId == '') {
                var url = "/Account/Login";
                window.location.href = url;
            }
            else {

                //if (document.cookie.split('=')[0] == "CourseID" || document.cookie.split(';')[1] == " CourseID") {
                if ($.cookie("CourseID") != null) {

                    //data = document.cookie.split('=')[1];
                    data = $.cookie("CourseID");
                    $.ajax({
                        type: "POST",
                        async: true,
                        data: JSON.stringify({ "data": data }),
                        contentType: 'application/json; charset=utf-8',
                        url: "/UserRegister/GetUserCourses",
                        success: function (response) {

                            var resp = JSON.parse(response);
                            if (resp.enrollCourse == "true") {

                                var courseId = resp.couresId;
                                var tempCurrentItems = JSON.parse(window.localStorage[cartName]);
                                var remCourses = removeItem(tempCurrentItems, courseId);
                                currentItems = remCourses;
                                window.localStorage[cartName] = JSON.stringify(remCourses);
                                bootbox.dialog({
                                    message: '@messages["AlredyEnroll"]',
                                    buttons: {
                                        "success": {
                                            "label": "Ok",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                            }
                                        },
                                        "fail": {
                                            "label": "Cancel",
                                            "className": "btn-sm btn-primary",
                                            callback: function () {
                                            }

                                        },

                                    }
                                });
                            }
                            else {
                                location.href = "/Order/Details";
                            }

                        },
                        error: function (response) {
                            localStorage.clear();
                        }
                    });
                }
                $.removeCookie("CourseID");
            }

            return false;
        });

        $('.nextCourseEnrollClass').click(function () {

            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent()).find('.media-heading')[0].innerText,
                CourseDescription: $($(this).parent().parent().parent()).find('p')[0].innerText,
                CoursePrice: $($(this).parent().parent().parent()).find('.po-body')[0].innerText,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {

                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {

                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }

            localStorage.CourseId = courseId;

            var userId = '@userId';
            if (userId == '') {

                var url = "/Account/Login";
                window.location.href = url;
            }
            else {


                location.href = "/Order/Details";
            }

            return false;
        });
        $('.detailClass').click(function () {
            var prevElement = 0;
            if ($(this)[0].previousElementSibling == null || $(this).parent().parent().find('a.enrollClass')[0] == undefined) {
                prevElement = 1;
            }

            //New Way
            localStorage.CouponCode = null;

            var courseId = $(this)[0].id;
            var coursName = null;
            var coursImage = null;
            var coursDescription = null;
            var coursPrice = null;
            if ($(this)[0].text == "Details") {
                coursName = ($($(this).parent().parent().parent().parent()).find('.course-desc h4')[0].innerHTML).replace("&amp;", "and");
                coursImage = $($(this).parent().parent().parent().parent()).find('img').attr('src');
                coursDescription = $($(this).parent().parent().parent().parent()).find('.course-desc p')[0].innerHTML;
                coursPrice = $($(this).parent().parent().parent().parent()).find('.course-desc .price p')[0].innerHTML;
            }
            else {
                coursName = ($($(this).parent().parent().parent().parent()).find('.course-desc h4')[0].innerHTML).replace("&amp;", "and");
                coursImage = $($(this).parent().parent().parent().parent()).find('img').attr('src');
                coursDescription = $($(this).parent().parent().parent().parent()).find('.course-desc p')[0].innerHTML;
                coursPrice = $($(this).parent().parent().parent().parent()).find('.course-desc .price p')[0].innerHTML;
            }
            setCookie("AboutCourseID", courseId, 1);

            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: coursImage,
                CourseName: coursName,
                CourseDescription: coursDescription,
                CoursePrice: coursPrice,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            //
            localStorage.CourseId = courseId;

            //Redirect user to about course page
            $.ajax({
                type: "POST",
                async: true,
                data: JSON.stringify({ "Id": courseId, "pe": prevElement }),
                contentType: 'application/json; charset=utf-8',
                url: "/Course/AboutCourseData",
                success: function (response) {
                    location.href = "/Course/AboutCourse?id=" + courseId + "&type=" + "&pe=" + prevElement;
                },
                error: function (response) {
                }
            });
            return false;

        });

        $('.nextDetailClass').click(function () {
            //New Way
            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent().parent()).find('.media-heading')[0].innerText,
                CourseDescription: $($(this).parent().parent().parent()).find('p')[0].innerText,
                CoursePrice: $($(this).parent().parent().parent()).find('.po-body')[0].innerText,
                CourseUserId: '@userId'
            };

            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            //
            localStorage.CourseId = courseId;
            location.href = "/Course/AboutCourse?id=" + courseId;
            return false;

        });
        $('.imagedetailClass').click(function () {
            var prevElement = 0;
            if ($(this)[0].previousElementSibling == null || $(this).parent().parent().find('a.enrollClass')[0] == undefined) {
                prevElement = 1;
            }
            localStorage.CouponCode = null;
            var courseId = $(this)[0].id;
            setCookie("AboutCourseID", courseId, 1);
            var courseContents = {
                CourseId: $(this)[0].id,
                CourseImage: $($(this).parent().parent()).find('img').attr('src'),
                CourseName: $($(this).parent().parent()).find('.course-desc h4')[0].innerHTML,
                CourseDescription: $($(this).parent().parent()).find('.course-desc p')[0].innerHTML,
                CoursePrice: $($(this).parent().parent()).find('.course-desc .price p')[0].innerHTML,
                CourseUserId: '@userId'
            };
            if (currentItems === null) {
                window.localStorage[cartName] = JSON.stringify([courseContents]);
            }
            else {
                currentItems.push(courseContents);
                window.localStorage[cartName] = JSON.stringify(currentItems)
            }
            localStorage.CourseId = courseId;
            location.href = "/Course/AboutCourse?id=" + courseId + "&type=" + "&pe=" + prevElement;
            return false;
        });
    });
    function removeItem(tempCourse, courseId) {

        for (var i = 0; i < tempCourse.length; i++) {
            if (courseId === tempCourse[i].CourseId) {
                tempCourse.splice(i, 1);
            }
        }
        return tempCourse;
    }
    function setCookie(cookieName, cookieValue, nDays) {

        var today = new Date();
        var expire = new Date();
        if (nDays == null || nDays == 0) {
            nDays = 1;
        }
        expire.setTime(today.getTime() + 3600000 * 24 * nDays);
        document.cookie = cookieName + "=" + escape(cookieValue)
        + ";expires=" + expire.toGMTString() + "; path=/";
    }
  </script>

         <script type="text/javascript">   
         </script>
         <script>
    var APP_ID = "806929762735402";
    // Facebook Deveoper account: Archana
    //var APP_ID = "389441631447093";

    window.fbAsyncInit = initFacebook;

    function initFacebook() {
        FB.init({
            appId: APP_ID,
            status: true, // check login status
            cookie: false, // enable cookies to allow the server to access the session
            xfbml: true  // parse XFBML
        });

        FB.getLoginStatus(onFacebookLoginStatus);
    };

    function onFacebookLoginStatus(response)
    {
        //nothing to do
    }

    (function () {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
    }());

    function postToWallUsingFBUi(name, price, desc, courseId, imgName) {

        var picUrl = '';
        if (imgName != '178x100_2.png') {
            picUrl = 'https://www.millionlights.org/Images/CourseImg/' + courseId + '/' + imgName;
        }
        else {
            picUrl = 'https://www.millionlights.org/Images/noimage378X225.png';
        }

        // Done by Archana
        var path = 'https://www.millionlights.org/Course/AboutCourse?id=' + courseId;
        var data =
        {
            // Done by Archana
            //method: 'stream.publish',
            method: 'feed',
            message: "Posted using FB.ui and picture.",
            display: 'iframe',
            caption: desc,
            name: name,
            picture: picUrl,
            link: "https://www.millionlights.org",
            redirect_uri : path,
            description: price,
            actions: [{ name: 'action_links text!', link: 'https://www.millionlights.org' }]
        }
        FB.ui(data, onPostToWallCompleted);
    }

    function onPostToWallCompleted(response) {
        if (response) {
            if (response.error) {
                bootbox.dialog({
                    message: response.error.message,
                    buttons: {
                        "success": {
                            "label": "OK",
                            "className": "btn-sm btn-primary"
                        }
                    }
                });
            }
            else {
                if (response.id) {
                    bootbox.dialog({
                        message: "Shared the course successfully",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }
                else if (response.post_id) {
                    bootbox.dialog({
                        message: "Shared the course successfully",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }
                else {
                    bootbox.dialog({
                        message: "OOPs, Sharing failed. Please try again.",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }

            }
        }
        else {
            // user cancelled
            bootbox.dialog({
                message: "Posting has been cancelled.",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }
    }
    // Use the API call wrapper to share content on LinkedIn
    function shareContent(pcontent) {
        IN.API.Raw("/people/~/shares?format=json")
        .method("POST")
        .body(pcontent)
        .result(onSuccess)
        .error(onError);

    }
    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        alert("Post Successful!");
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
        alert("Oh no, something went wrong. Check the console for an error log.");
    }
    function ShareOnLinkedIn() {
        var postcontent = {
            "comment": "Check out millionlights.org!",
            "content": {
                "title": "LinkedIn Developers Resources",
                "description": "Leverage LinkedIn's APIs to maximize engagement",
                "submitted-url": "https://www.millionlights.org",
                "submitted-image-url": "https://example.com/edulogo.jpg"
            },
            "visibility": {
                "code": "anyone"
            }
        }
        postcontent = JSON.stringify(postcontent);
        shareContent(postcontent);
        //});
    }
    function ShareOnLinkedIn1(shareUrl,name,shortDesc) {
        var url='https://www.linkedin.com/cws/share?mini=true&url='+shareUrl+'&title='+name+'&summary='+shortDesc+'&source=Millionlights';
        location.href=url;
    }

    function ShareOnLinkedIn(name, shortDesc) {
        var shareUrl = window.location.protocol + "//" + window.location.host + "/Course/AboutCourse/" + encodeURI(name) + "/";
        var url='https://www.linkedin.com/cws/share?mini=true&url='+shareUrl+'&title='+name+'&summary='+shortDesc+'&source=Millionlights';
        location.href=url;
    }

    function CourseEmailText(cID, name) {
        $.ajax({
            url: '@Url.Action("GetCourseEmailext", "Home")',
            type: 'GET',
            cache: false,
            data: "courseId=" + cID + "&courseName=" + name,
            success: function (emailText) {
                var mailto_link = 'mailto:' + '?subject=' + encodeURIComponent(name) + '&body=' + encodeURIComponent(emailText);
                window.location.assign(mailto_link);
            },
            error: function () {
            }
        });
    }

    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", function() {onLinkedInLogin();});
        IN.Event.on(IN, "logout", function() {onLinkedInLogout();});
    }
    function onLinkedInLogin() {
        IN.API.Profile("me")
            .fields(["id", "firstName", "lastName", "pictureUrl", "publicProfileUrl", "emailAddress"])
            .result(function(result) {
                ShareOnLinkedIn();
            })
            .error(function(err) {
                alert(err);
            });
    }
</script>
<link href="~/Blur/css/style.css" rel="stylesheet" />
<script src="~/Content/assets/js/ace/elements.typeahead.js"></script>
<script src="~/Content/assets/js/typeahead.jquery.js"></script>
<script type="text/javascript">
    var courseList = [];
    $(function () {

        var $container = $('#ib-container'),
            $articles = $container.children('article'),
            timeout;

        $articles.on('mouseenter', function (event) {

            var $article = $(this);
            clearTimeout(timeout);
            timeout = setTimeout(function () {

                if ($article.hasClass('active')) return false;

                $articles.not($article.removeClass('blur').addClass('active'))
                    .removeClass('active')
                    .addClass('blur');

            }, 65);

        });

        $container.on('mouseleave', function (event) {

            clearTimeout(timeout);
            $articles.removeClass('active blur');
        });

    });

</script>