@model Millionlights.Models.Career
@{
    ViewBag.Title = "Career";
    var IsSccuess = ViewBag.IsSuccess;
    var careerDetails = (Millionlights.Models.Career)ViewBag.careerDetails;

}
<section id="main_content">
    <div class="row">
        <div class="col-sm-12" style="background-image: url('../Images/career.jpg');background-repeat:no-repeat;height:300px;background-size:100%;margin-top:-20px;">

        </div>
        <div class="col-md-7" style="padding-left:4%">
            @*<h3>Job Description</h3>*@
            <br />
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Job Description<i class="indicator pull-right icon-minus"></i></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
                        <div class="panel-body">
                            @if (careerDetails != null)
                            {
                                <h5><b>Job Title </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.JobTitle))
                                <br />
                                <br />

                                <h5><b>Location </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.Location))
                                <br />
                                <br />

                                <h5><b>Experience Required </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.Experience))
                                <br />
                                <br />

                                <h5><b>Qualification </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.Qualification))
                                <br />
                                <br />

                                <h5><b>Job Description </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.JobDescription))
                                <br />
                                <br />


                                <h5><b>Technical Skills </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.TechnicalSkills))
                                <br />
                                <br />


                                <h5><b>Managerial / Business Skills </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.BusinessSkills))
                                <br />
                                <br />


                                <h5><b>Responsibilities </b></h5>

                                @Html.Raw(HttpUtility.HtmlDecode(careerDetails.Responsibilities))
                                <br />

                            }
                        </div>
                    </div>
                </div>

            </div>
            <hr>
        </div>
        <div class="col-sm-5">
            <section id="main_content">
                <div>
                    <div class="row">
                        <div class="col-md-12" style="padding-right:8%;">
                            <div class=" box_style_2">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top: -24px; text-align: center;">

                                        <h4>Apply to Job</h4>

                                        <hr />

                                    </div>
                                </div>
                                <div id="message-contact"></div>
                                @using (Html.BeginForm("JobApplication", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", onsubmit = "return ValidateCareer();" }))
                                {
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                
                                                @if (careerDetails != null)
                                                {
                                                    <input type="text" id="job_title" name="job_title" class="form-control style_2" placeholder="Enter Job Title" value="@careerDetails.JobTitle">
                                                }
                                                else
                                                {
                                                    <input type="text" id="job_title" name="job_title" class="form-control style_2" placeholder="Enter Job Title">
                                                }
                                                <span class="input-icon"><i class="icon-graduation-cap"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control style_2" id="name_contact" name="name_contact" placeholder="Enter First Name">
                                                <span class="input-icon"><i class="icon-user"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control style_2" id="lastname_contact" name="lastname_contact" placeholder="Enter Last Name">
                                                <span class="input-icon"><i class="icon-user"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="email" id="email_contact" name="email_contact" class="form-control style_2" placeholder="Enter Email">
                                                <span class="input-icon"><i class="icon-email"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" id="phone_contact" name="phone_contact" class="form-control style_2" placeholder="Enter Phone number" onkeypress="return isNumberKey(event)">
                                                <span class="input-icon"><i class="icon-phone"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <textarea rows="5" cols="5" id="message_contact" name="message_contact" class="form-control contact-message" placeholder="Write your message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="file" id="file" name="file" class="form-control style_2" placeholder="Upload Resume" accept=".pdf,.doc,.docx">
                                                @*<span class="input-icon"><i class="icon-phone"></i></span>*@
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <label id="lblPwdError" class="colorRed"></label>
                                            <label id="lblSuccess" class="colorGreen"></label><br>
                                            <button id="submit-contact" type="submit" class="button_medium" style="background-color: #008278 !important">
                                                <i class="bigger-110"></i>
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var IsSuccess = '@IsSccuess'
        if (IsSuccess != '' && IsSuccess == 'True') {
            $('#lblSuccess')[0].innerHTML = "Your job application submitted successfully";
        }
    });

    function ValidateCareer() {
        var jobTitle = $('#job_title')[0].value;
        var firstName = $('#name_contact')[0].value;
        var lastName = $('#lastname_contact')[0].value;
        var email = $('#email_contact')[0].value;
        var phone = $('#phone_contact')[0].value;
        var message = $('#message_contact')[0].value;
        var resume = $('input[type=file]').val();
        var emailRegEx = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var isValid = true;
        if (jobTitle.length == 0) {
            $('#lblPwdError')[0].innerHTML = "Please enter job title";
            isValid = false;
        }
        else if (firstName.length == 0) {
            $('#lblPwdError')[0].innerHTML = "Please enter first name";
            isValid = false;
        }
        else if (lastName.length == 0) {
            $('#lblPwdError')[0].innerHTML = "Please enter last name";
            isValid = false;
        }
        else if (email.length == 0 || !emailRegEx.test(email)) {
            $('#lblPwdError')[0].innerHTML = "Please enter valid email Id";
            isValid = false;
        }
        else if (resume == "") {
            $('#lblPwdError')[0].innerHTML = "Please upload resume";
            isValid = false;
        }
        else if (resume != "") {
            
            var fileType = (resume).substring((resume).lastIndexOf('.'));
            if (fileType != ".pdf" && fileType != ".doc" && fileType != ".docx") { 
                $('#lblPwdError')[0].innerHTML = "Only doc, docx or pdf File types are allowed";
                //isValid = false;
                isValid = false;

            }
        }
        if (isValid == false) {
            return false;
        }
        else {
            return true;
        }
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>