
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
      <meta charset="utf-8">

    @this.RenderSection("ExtraMetaTags", false)
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/learn/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" sizes="16x16" href="~/Content/learn/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" sizes="32x32" href="~/Content/learn/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" sizes="96x96" href="~/Content/learn/img/favicons/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" sizes="72x72" href="~/Content/learn/img/favicons/favicon.ico" type="image/x-icon" />

    <!--MSIE Favicons -->
    <!--rel="ms-icon" to rel="shortcut icon"-->
    <link rel="shortcut icon" type="image/x-icon" sizes="70x70" href="~/Content/learn/img/favicons/ms-icon-70x70.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="150x150" href="~/Content/learn/img/favicons/ms-icon-150x150.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="310x310" href="~/Content/learn/img/favicons/ms-icon-310x310.png">
    <link rel="shortcut icon" type="image/x-icon" sizes="144x144" href="~/Content/learn/img/favicons/ms-icon-144x144.png">

    <!--Android Favicons -->
    <!--rel="android-icon" to rel="icon"-->
    <link rel="icon" type="image/x-icon" sizes="36x36" href="~/Content/learn/img/favicons/android-icon-36x36.png">
    <link rel="icon" type="image/x-icon" sizes="48x48" href="~/Content/learn/img/favicons/android-icon-48x48.png">
    <link rel="icon" type="image/x-icon" sizes="72x72" href="~/Content/learn/img/favicons/android-icon-72x72.png">
    <link rel="icon" type="image/x-icon" sizes="96x96" href="~/Content/learn/img/favicons/android-icon-96x96.png">
    <link rel="icon" type="image/x-icon" sizes="144x144" href="~/Content/learn/img/favicons/android-icon-144x144.png">
    <link rel="icon" type="image/x-icon" sizes="192x192" href="~/Content/learn/img/favicons/android-icon-192x192.png">



    <link rel="apple-touch-icon" href="~/coursat/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/coursat/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/coursat/images/apple-touch-icon-114x114.png">

    <link rel="stylesheet" type="text/css" href="~/coursat/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/css/stroke.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/coursat/style.css">

    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="~/coursat/css/custom.css">

    <!-- RS SLIDER -->
    <link rel="stylesheet" type="text/css" href="~/coursat/rs-plugin/css/settings.css" media="screen" />


    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/js/jquery.js"></script>
    @*<script type="text/javascript">
        window.intercomSettings = {
            app_id: "m38swgns"
        };
    </script>*@
    @*<script type="text/javascript">
        (function () {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', intercomSettings);
            }
            else {
                var d = document;
                var i = function () {
                    i.c(arguments)
                };
                i.q = [];
                i.c = function (args) {
                    i.q.push(args)
                };
                w.Intercom = i;
                function l() {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/m38swgns';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                }
                else {
                    w.addEventListener('load', l, false);
                }
            }
        })()
    </script>*@

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');


        ga('create', 'UA-54089365-1', 'auto');
        //ga('set', 'checkProtocolTask', null); // Disable file protocol checking.
        ga('send', 'pageview');


    </script>
</head>
<body>

    @Html.Partial("~/Views/Account/_MainHeader.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Shared/_MainFooter.cshtml")
    @RenderSection("scripts", required: false)

    @*//JS Files*@
    <script src="~/coursat/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="~/coursat/js/bootstrap.min.js"></script>
    <script src="~/coursat/js/retina.js"></script>
    <script src="~/coursat/js/wow.js"></script>
    <script src="~/coursat/js/carousel.js"></script>
    <script src="~/coursat/js/progress.js"></script>
    <script src="~/coursat/js/parallax.js"></script>
    <script src="~/coursat/js/jquery.prettyPhoto.js"></script>
    <script src="~/coursat/js/custom.js"></script>

    <!-- SLIDER REV -->
    <script src="~/coursat/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/coursat/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script>
        /* ==============================================
         SLIDER -->
         =============================================== */
        jQuery('.tp-banner').show().revolution(
            {
                dottedOverlay: "none",
                delay: 5000,
                startwidth: 994,
                startheight: 450,
                hideThumbs: 200,
                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "preview3",
                touchenabled: "on",
                onHoverStop: "on",
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: "on",
                fullScreen: "off",
                spinner: "spinner4",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                forceFullWidth: "off",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0
            });
    </script>




</body>
</html>
